<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>About me</h1>
            <p>I graduate from University of Rochester with a Master Degree in Material Scince. Finding a job on material field was tough and I decide to become a full stack developer.
            </p>            
            <p>I begined to work with python at my undergraduate study. And finished the program <a href="https://www.udemy.com/the-web-developer-bootcamp/">The Web Developer Bootcamp</a> to level up my skills.
            </p>
            <p>If you have interests in me, feel free to connect me.</p>
            <hr>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->