<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Black & White Blog</h1>
            <hr>
            <span class="image main"><img style="" src="images/project2.png" alt="" /></span>
            <hr>
            <h3></h3>
            <p></p>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->