<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Black & White Blog</h1>
            <hr>
            <span class="image main"><img style="" src="images/project2.png" alt="" /></span>
            <hr>
            <h3>A Blog site</h3>
            <p><a href="/">Site link</a></p>
            <p>A blog site builded by Django (Python).</p>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->