<% include ../views/header %>
                <!-- Main -->
                    <div id="main">
                        <div class="inner">
                            <header>
<!--                                <h1>This is Phantom, a free, fully responsive site<br />
                                template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1> -->
                                <p>MY WEB PROJECTS and <a href="/resume">RESUME</a>.</p>
                            </header>
                            <section class="tiles">
                                <article class="style1">
                                    <span class="image">
                                        <img src="images/project1.png" alt="" />
                                    </span>
                                    <a href="/YelpCamp">
                                        <h2>Yalp Camp</h2>
                                        <div class="content">
                                            <p>A travel site with login and comment features</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style2">
                                    <span class="image">
                                        <img src="images/project2.png" alt="" />
                                    </span>
                                    <a href="B&WBLOG">
                                        <h2>Black ＆ White Blog</h2>
                                        <div class="content">
                                            <p>a blog site built by Django</p>
                                        </div>
                                    </a>
                                </article>
<!--                                <article class="style3">
                                    <span class="image">
                                        <img src="images/pic03.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Feugiat</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style4">
                                    <span class="image">
                                        <img src="images/pic04.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Tempus</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style5">
                                    <span class="image">
                                        <img src="images/pic05.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Aliquam</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style6">
                                    <span class="image">
                                        <img src="images/pic06.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Veroeros</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style2">
                                    <span class="image">
                                        <img src="images/pic07.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Ipsum</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style3">
                                    <span class="image">
                                        <img src="images/pic08.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Dolor</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style1">
                                    <span class="image">
                                        <img src="images/pic09.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Nullam</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style5">
                                    <span class="image">
                                        <img src="images/pic10.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Ultricies</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style6">
                                    <span class="image">
                                        <img src="images/pic11.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Dictum</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article>
                                <article class="style4">
                                    <span class="image">
                                        <img src="images/pic12.jpg" alt="" />
                                    </span>
                                    <a href="generic.html">
                                        <h2>Pretium</h2>
                                        <div class="content">
                                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                                        </div>
                                    </a>
                                </article> -->
                            </section>
                        </div>
                    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->