<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
                <h1>Resume</h1>
                <p>Downloadable PDF: <a href="/">Click here</a></p>
                <h2>SKILLS</h2>
                <hr />
                <p><strong>Frontend</strong>: Vue, HTML, JQuery
                    <br /> <strong>Styling</strong>: CSS, SASS
                    <br /> <strong>Backend</strong>: Node/Express, MongoDB, SQL, Django
                    <br /> <strong>Tools</strong>: Git, NPM, the command line
                    <br />
                    <br>
                </p>
                <h2>PROJECT EXPERIENCE</h2>
                <hr />
                <p><strong>Yelp Camp</strong>
                    <br />
                <ul>
                    <li>Using the bootstrap to improve the website</li>
                    <li>Build a whole registration and login system</li>
                    <li>Make the comment feature work</li>
                    <li>Learned how to facilitate communication between Express and MongoDB</li>
                </ul>
                <p><strong>Black & white Blog</strong>
                    <br />
                <ul>
                    <li>Build site with Django and SQLite3</li>
                    <li>Build a backstage that can publish blogs</li>
                </ul>
                <h2>EDUCATION</h2>
                <hr />
                <p><strong>The Web Developer Bootcamp | Udemy | spring 2018 </strong>
                    <br /> The Web Developer Bootcamp is a coding bootcamp that teaches the fundamentals and best practices of full stack web development. Core focuses in the class include client-side development using HTML, CSS,and SQL Server, with a secondary focus on full-stack development.
               		<br/>The certificate : <a href="/">Click here</a></p>
                    
                <p><strong>University of Rochester | 2016-2018 | Rochester, NY</strong></p>
                <ul>
                    <li>Master Degree of Material Scinece</li>
                </ul>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->