<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Yalp camp 2018</h1>
            <span class="image main"><img src="images/project1.png" alt="" /></span>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->