<% include ../views/header %>

<!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>Yalp camp 2018</h1>
            <hr>
            <span class="image main"><img src="images/project1.png" alt="" /></span>
            <hr>
            <h3>A travel site with login and comment features</h3>
            <p><a href="https://yelpcamp-yifanli.herokuapp.com/" target="_blank">Site link</a></p>
            <p>This site was build with Express, and server framework for node.js. Now it deploys on Heroku</p>
        </div>
    </div>


<% include ../views/footer %>

<!-- <a href="#"><h2>YELPCAMP</h2></a>  -->